{% extends 'base.html' %}

{% block title %}
<title> Развлечения </title>
{% endblock title %}


{% block content %}
<div class="container">
        <div><button type="button" class="btn btn-default">Назад</button></div>
        <div class="h1">Развлечения</div><br><br>
        <div id="bc">
            <form action="https://www.ivi.ru/">
                <button type="submit" class="btn btn-default" id="spec">Посмотреть фильм</button><br><br>
            </form>

            <form action="https://www.flashgames.ru/">
                <button type="submit" class="btn btn-default" id="spec">Выбрать игру</button>
            </form>
        </div>

</div>
{% endblock content %}