{% extends 'base.html' %}


{% block title %}
<title> Личный кабинет работника </title>
{% endblock title %}


{% block content %}
<div class="container">
    <form action="{%url 'account:logout'%}" method="get">
        <div class="float-right"><button type="submit" class="btn btn-default">Выход</button></div><br><br>
    </form>
    <div class="h1">Добро пожаловать</div>
    <div class="h3">{{fio}}</div><br>
    {% if info %}
    <div id="border">
        <div id="border1"><p>{{info.service}}</p></div>
        <div id="border1"><p>{{info.fio}}</p></div>
        <div id="border1"><p>{{info.ward}}</p></div>
    </div><br>
    {% for c in context_forms %}
        <form method="get" action="{% url c.url %}">
            <button type="submit" class="{{c.class}}" id="but">{{c.value}}</button>
        </form>
    {% endfor %}
    {% else %}
    <div id="border">
        <div class="h3">
            <p>Пусто ️🗑️</p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}